# Add files here to ignore them from prettier formatting

/dist
/coverage

packages/components-to-markdown/templates

.docusaurus/

packages/website/demo/*/Action.md
packages/website/demo/*/Button.md
