.fullWidthContainer {
  padding: 0 16px;
}

.sectionTitle {
  font-size: 2rem;
}

.section {
  background-color: var(--ifm-color-emphasis-100);
  padding: 72px 0;
  width: 100%;
}

.howItWorkColumn {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (max-width: 1460px) {
  .howItWorkColumn {
    padding: 0;
  }
}
